<div class="row my-3">
    {% for book in books %}
      <div class="col-12 col-md-3">
        <div class="card border-0 rounded-3 shadow-sm mb-4">
            <img src="{{book.image}}" class="card-img-top contain" height="300px" alt="{{book.title}}">
            <div class="card-body">
              <h5 class="card-title text-truncate">{{book.title}}</h5>
              <p class="card-text text-truncate">
                  {{ book.authors.all|join:", "}}  
              </p>
            </div>
            <div class="d-grid card-body">
              <a href="/books/{{book.id}}" class="btn btn-dark">View Details</a>
            </div>
          </div>
        </div>
    {% endfor %}
  </div>