.rating {
  display: inline-block;
  unicode-bidi: bidi-override;
  color: lightgrey;
  font-size: 30px;
  width: 30px;
  margin-right: 3px;
}

.filled {
  color: #f39c12;
}

body {
  /* background-color: beige; */
  background-image: "../img/bg.png";
}

.pagination {
  justify-content: center;
}

.page-link {
  color: #0e1012; /* Change this to your desired text color */
  background-color: #fff; /* Change this to your desired background color */
  border-color: #e2e2e2; /* Change this to your desired border color */
}

.page-link:hover {
  color: #fff; /* Change this to your desired text color on hover */
  background-color: #0e1012; /* Change this to your desired background color on hover */
  border-color: #0e1012; /* Change this to your desired border color on hover */
}

.page-item.active .page-link {
  color: #fff; /* Change this to your desired text color for the active page */
  background-color: #0e1012; /* Change this to your desired background color for the active page */
  border-color: #0e1012; /* Change this to your desired border color for the active page */
}
