{% extends 'base.html' %}
{% load humanize %}
{% load static%}
{% block content %}
    <div class="row">
        <div class="col-md-3 col-12">
            <!-- Book Cover Image -->
            <img src="{{book.image}}" class="img-fluid" alt="Book Cover">
        </div>
        <div class="col-md-9 col-12">
            <!-- Book Details -->
            <h2 class="mt-2">{{book.title}}</h2>
            <p><strong>Authors:</strong>
                {% for author in book.authors.all %}
                {{ author.name }}
            {% endfor %}
            </p>
            
            <p><strong>Publisher:</strong> {{book.publisher}}</p>
    </div>
     <!-- Book Description -->
     <h5 class="mt-4 test">Description</h5>
     <p>{{book.description}}</p>
     
     <!-- Reviews -->
     <h5 class="mt-4">Reviews</h5>
     {% for review in reviews %}
     <div class="card mb-3">
         <div class="card-body">
             <div class="d-flex justify-content-between">
                 <div class="d-flex align-items-center">
                     <!-- User Avatar -->
                     <img src="{% static 'books/img/profile.png' %}" class="rounded-circle me-2" alt="User Avatar" style="width: 40px; height: 40px;">
                     <!-- Username -->
                     <div class="flex-column">
                         <p class="mb-0">{{review.user}}</p>
                     <small class="text-muted">{{review.created_at | naturaltime }}</small>
                     </div>

                 </div>
                 <!-- Rating Stars -->
                 {% include "./partials/ratings.html" %}
             </div>
             <!-- Review Text -->
             <p class="card-text mt-3">{{review.text}}</p>
             <!-- Relative Time Description -->
         </div>
     </div>
     {% endfor %}
     <!-- Additional Details (Add more properties as needed) -->
     <!-- <p><strong>ISBN:</strong> 123456789</p>
     <p><strong>Genre:</strong> Fiction</p>
     <p><strong>Pages:</strong> 300</p> -->
     
        <h5 class="mt-4">Submit a Review</h5>
        {% if user.is_authenticated %}
        <form method="post" action="{% url 'book-details' pk=book.id %}" class="needs-validation" novalidate>
            {% csrf_token %}
            {{ form.non_field_errors }}
                            <!-- Rating Input -->
                            <div class="mb-3">
                                <label for="{{ form.rating.id_for_label }}" class="form-label">Rating</label>
                                {{ form.rating }}
                                <div class="invalid-feedback">
                                    Please provide a rating.
                                </div>
                            </div>
                            
                            <!-- Text Input -->
                            <div class="mb-3">
                                <label for="{{ form.text.id_for_label }}" class="form-label">Review</label>
                                {{ form.text }}
                                <div class="invalid-feedback">
                                    Please provide a review text.
                                </div>
                            </div>
            
            <button type="submit" class="btn btn-primary">Submit Review</button>
        </form>
        {% else %}
            <p>Please <a href="{% url 'login' %}">log in</a> to submit a review.</p>
        {% endif %}
    </div>
    
{%endblock%}

{% block script %}
<script>
    // Bootstrap validation script
    (function () {
        'use strict'

        // Fetch all the forms we want to apply custom Bootstrap validation styles to
        var forms = document.querySelectorAll('.needs-validation')

        // Loop over them and prevent submission
        Array.from(forms).forEach(function (form) {
            form.addEventListener('submit', function (event) {
                if (!form.checkValidity()) {
                    event.preventDefault()
                    event.stopPropagation()
                }

                form.classList.add('was-validated')
            }, false)
        })
    })()
</script>
{% endblock script %}


