<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ book.title }}</title>
</head>
<body>
    <h1>{{ book.title }}</h1>
    <ul> 
        <li> Author: {% for author in book.authors.all %}
                {{ author.name }}  
            {% endfor %}
        </li> 
        
            <li> Publisher: {{ book.publisher }} </li>
        <li> Categories: {% for category in book.categories.all %}
            {{ category.name }}  
        {% endfor %} </li>  
    </ul>
    <p>
        {{ book.description }}
    </p>
    <img src="{{book.image}}" alt="Book Image">
   
</body>
</html>