{% extends 'base.html' %} {% load humanize %} {% load static%} 
{% load crispy_forms_tags %} 
{% block title %}InkLight | {{book.title|title}}{% endblock title %}

{% block content %}
<div class="row">
  <div class="col-md-3 col-12">
    <!-- Book Cover Image -->
    <img src="{{book.image}}" class="card-img-top contain" alt="Book Cover" />
  </div>
  <div class="col-md-9 col-12">
    <!-- Book Details -->
    <h2>{{book.title|title}}</h2>
    <div class="mt-3">
      <h6>
        <strong>Authors:</strong>
        {{ book.authors.all|join:", "}}
      </h6>

      <h6><strong>Publisher:</strong> {{book.publisher}}</h6>
      <h6><strong>Published At:</strong> {{book.published_at}}</h6>
      <hr />
      {% for category in book.categories.all %}
      <a class="badge rounded-pill bg-dark py-2 text-decoration-none text-white" href="{% url 'books_by_category' category_name=category %}">{{category.name}}</a>
      {% endfor %}
    </div>
  </div>
  <!-- Book Description -->
  <h4 class="mt-4">Description</h4>
  <hr />
  <p>{{book.description}}</p>

  <!-- Reviews -->
  <h4 class="mt-4">Reviews</h4>
  <hr />
  {% for review in reviews %}
  <div class="card mb-3 {% if review.user == user %}border-dark{% endif %}">
    <div class="card-body">
      <div class="d-flex justify-content-between">
        <div class="d-flex align-items-center">
          <!-- User Avatar -->
          <img
            src="{% static 'books/img/profile.png' %}"
            class="rounded-circle me-2"
            alt="User Avatar"
            style="width: 40px; height: 40px"
          />
          <!-- Username -->
          <div class="flex-column">
            <p class="mb-0">{{review.user}}</p>
            <small class="text-muted"
              >{{review.created_at | naturaltime }}</small
            >
          </div>
        </div>
        <!-- Rating Stars -->
        {% include "./partials/ratings.html" with rating=review.rating stars=stars %}
      </div>
      <!-- Review Text -->
      {% if review.text|length > 50 %} 
      <div class="mt-3">
        {{ review.text|truncatewords:50 }}
        <span id="truncated-content" style="display: none">{{ review.text|slice:"50:" }}</span>
        <a href="#" id="read-more-link" onclick="toggleTruncatedContent(); return false;">Read More</a>  
      </div>
      {% else %} 
      <div class="mt-3">
        {{ review.text}} 
      </div>
      {% endif %}
      {% comment %} <div class="mt-3 truncate-container">
        <p class="truncate">{{review.text|truncatewords:50}}</p>
      </div> {% endcomment %}
      <div class="mt-3">
        <span class="badge bg-dark">{{review.sentiment.title}}</span>
      </div>
    </div>
  </div>
  {% empty %}
  <div class="text-center">No reviews yet.</div>
  {% endfor %}
  <!-- Additional Details (Add more properties as needed) -->
  <!-- <p><strong>ISBN:</strong> 123456789</p>
     <p><strong>Genre:</strong> Fiction</p>
     <p><strong>Pages:</strong> 300</p> -->
  {% if form %}
  <h4 class="mt-4">Add Review</h4>
  <hr />

  {% if user.is_authenticated %}
  <form method="post" action="{% url 'book-details' pk=book.id %}">
    {% csrf_token %} {{ form|crispy}}
    <div class="d-grid">
      <button type="submit" class="btn btn-dark">Submit</button>
    </div>
  </form>
  {% else %}
  <p>Please <a href="{% url 'login' %}">log in</a> to submit a review.</p>
  {% endif %} 
  
{% endif %}
</div>
{%endblock%} 
{% block script %}
<script>
    function toggleTruncatedContent() {
      var truncatedContent = document.getElementById("truncated-content");
      var readMoreLink = document.getElementById('read-more-link');

      truncatedContent.style.display = truncatedContent.style.display === "none" ? "inline" : "none";
      readMoreLink.style.display = 'none';

    }
  </script>
{% endblock script %}
