{% extends "base.html" %}

{% block content %}
    <h2>All Genres</h2>
    <hr>
    <div class="row">
        {% for category in categories %}
        <div class="col-12 col-md-3 mb-2">
            {% include "./partials/category.html" with category=category %}
        </div>
            {% comment %} <li><a href="{% url 'books_by_category' category_name=category.name %}" class="text-decoration-none" >{{category.name}}</a></li> {% endcomment %}
        {% endfor %}
    
    </div>    
{% endblock content %}

