{% extends "base.html" %}
{% block title %}InkLight | Profile | {{request.user.username}} {% endblock title %}

{% block content %}

    <h2>Your Profile</h2>
    <hr>
    <div class="row">
        <div class="col-md-6">
            <dl class="row">
                <dt class="col-sm-3">Username:</dt>
                <dd class="col-sm-9">{{ request.user.username }}</dd>

                <dt class="col-sm-3">Email:</dt>
                <dd class="col-sm-9">{{ request.user.email }}</dd>
            </dl>
        </div>
    </div>
    {% if books %}
        <h3>Reviewed Books</h3>
        <hr>
        {% include "./partials/book_list.html" %}
    {% endif %}




{% endblock content %}

